<h1 class="text-2xl font-bold mb-6">Gestión de Reseñas</h1>

<app-card
  title="Gestión de Reseñas"
  subtitle="Administra las reseñas creadas por los usuarios"
  content="Aquí puedes visualizar, editar y eliminar reseñas realizadas sobre los servicios prestados.">
</app-card>

<div class="mb-4 mt-4 flex flex-col md:flex-row gap-2 items-start md:items-center"> <input
      type="text"
      placeholder="Buscar reseñas..."
      class="border p-2 rounded w-full md:w-64"
      #txtBuscar
      (input)="search(txtBuscar)"
    />
  </div>

<app-data-table 
  [data]="resenas" 
  [columns]="[
    { field: 'id', header: 'ID' },
    { field: 'solicitud_id', header: 'Solicitud ID' },
    { field: 'calificacion', header: 'Calificación' },
    { field: 'comentario', header: 'Comentario' },
    { field: 'fecha', header: 'Fecha' },
    { field: 'anonima', header: 'Anónima' }
  ]">

  <ng-template #actions let-row>
    <button class="text-yellow-600 mr-2" (click)="edit(row)">Editar</button>
    <button class="text-red-600" (click)="delete(row)">Eliminar</button>
  </ng-template>

</app-data-table>