
.error {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: block;
}


.form-control.ng-invalid.ng-touched,
.form-control.ng-invalid.ng-dirty,
.form-select.ng-invalid.ng-touched,
.form-select.ng-invalid.ng-dirty {
  border-color: #dc3545;
}


.form-control.ng-invalid.ng-touched:focus,
.form-control.ng-invalid.ng-dirty:focus,
.form-select.ng-invalid.ng-touched:focus,
.form-select.ng-invalid.ng-dirty:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}


.input-group .form-control.ng-invalid.ng-touched,
.input-group .form-control.ng-invalid.ng-dirty {
  border-color: #dc3545;
}

.input-group .form-control.ng-invalid.ng-touched:focus,
.input-group .form-control.ng-invalid.ng-dirty:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

::ng-deep app-data-table {
  table {
    tbody tr {
      height: 60px; 
    }
    
    td {
      padding: 12px 8px !important; 
      vertical-align: middle;
    }
  }
}