
.error {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: block;
}


.form-control.ng-invalid.ng-touched,
.form-control.ng-invalid.ng-dirty,
.form-select.ng-invalid.ng-touched,
.form-select.ng-invalid.ng-dirty {
  border-color: #dc3545;
}
