<div class="data-table-container">
  <table class="data-table">
    <thead>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let col of columns">
          <div class="cell-content">
            {{ row[col.field] }}
          </div>
        </td>
        <td>
          <div class="cell-content">
            <ng-container
              [ngTemplateOutlet]="actionsTemplate"
              [ngTemplateOutletContext]="{ $implicit: row }">
            </ng-container>
          </div>
        </td>
      </tr>
      <tr *ngIf="data.length === 0">
        <td [attr.colspan]="columns.length + 1">
          <div class="cell-content">
            No hay datos disponibles
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
