:host {
  display: block;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-table td {
  max-width: 200px; /* puedes ajustar este ancho */
}

.cell-content {
  display: flex;       /* NECESARIO para botones */
  align-items: center; 
  width: 100%;
  height: 100%;
  overflow: hidden;
}
