<div class="data-table-container">
  <table class="data-table">
    <thead>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let col of columns">
          <div class="cell-content">
            {{ row[col.field] }}
          </div>
        </td>
        <td>
          <div class="cell-content">
            <ng-container
              [ngTemplateOutlet]="actionsTemplate"
              [ngTemplateOutletContext]="{ $implicit: row }">
            </ng-container>
          </div>
        </td>
      </tr>
      <tr *ngIf="data.length === 0">
        <td [attr.colspan]="columns.length + 1">
          <div class="cell-content">
            No hay datos disponibles
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<style>

.data-table-container {
  padding: 10px;
  background-color: #3dd2ff;
  border-radius: 15px;
}

.data-table-container .data-table {
  margin-bottom: 0;
  border-radius: 15px;
  overflow: hidden;
  min-width: 200px;
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0 5px; 
  font-size: 1.1rem;
}

.data-table-container .data-table thead th {
  background: #05c1ff;
  color: white;
  padding: 0.5rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.09em;
  text-align: center;
  border: none; 
}

.data-table-container .data-table tbody td {
  background-color: rgba(255, 255, 255, 0.1);
  color: #333;
  padding: 1rem;
  text-align: left;
  vertical-align: middle;
  border: none; 
}

.data-table-container .data-table tbody td:not(:last-child) {
  border-right: 9px solid transparent; 
}

.cell-content {
  height: 100%;
  display: flex;
  align-items: center;
}

.data-table-container .data-table tbody tr:nth-child(even) td {
  background-color: rgba(240, 248, 255, 0.7);
}
.data-table-container .data-table tbody tr:nth-child(odd) td {
  background-color: rgba(230, 240, 255, 0.9);
}

.data-table-container .data-table tbody tr:hover td {
  background-color: rgba(173, 216, 230, 0.7);
}

.data-table-container .data-table tbody td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.data-table-container .data-table tbody td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
</style>